NEXT_PUBLIC_API_URL=/api/proxy
API_PROXY_TARGET=http://127.0.0.1:4000
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_STAKING_PROGRAM_ID=ALnc8ohCRM5WMD4yksGS9XuZDzGCH3vW2VHUzn9Rb762
NEXT_PUBLIC_GOVERNANCE_PROGRAM_ID=7e4gvpizQZ12dGWHFXekKrrX8ByktwvV3t48HnG9xBNz
NEXT_PUBLIC_LIQUIDITY_PROGRAM_ID=9bGvKgjuKiuXrr6C4yGyzn9yGn4GSoGUdBEmMjssUzCu
NEXT_PUBLIC_LENDING_PROGRAM_ID=HPvxx9GvKzBqBPDSrxALtnwnEhY52mnV9aNM6XPisuCh
NEXT_PUBLIC_STAKING_CONFIG_ADDRESS=
NEXT_PUBLIC_GOVERNANCE_CONFIG_ADDRESS=
NEXT_PUBLIC_LIQUIDITY_POOL_ADDRESS=
NEXT_PUBLIC_LENDING_MARKET_ADDRESS=
