PORT=4000
JWT_SECRET=super-secret-change-me
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/solanablocks
SOLANA_RPC_URL=https://api.devnet.solana.com
WALLET_ENCRYPTION_SECRET=change-me
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
STAKING_PROGRAM_ID=ALnc8ohCRM5WMD4yksGS9XuZDzGCH3vW2VHUzn9Rb762
GOVERNANCE_PROGRAM_ID=7e4gvpizQZ12dGWHFXekKrrX8ByktwvV3t48HnG9xBNz
LIQUIDITY_PROGRAM_ID=9bGvKgjuKiuXrr6C4yGyzn9yGn4GSoGUdBEmMjssUzCu
LENDING_PROGRAM_ID=HPvxx9GvKzBqBPDSrxALtnwnEhY52mnV9aNM6XPisuCh
